<%- include('header') -%>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 text-center">
            <h2>What are you looking for?</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-6 align-self-center">


            <a href="/pet/finder" class="btn btn-primary btn-block float-end ">Patient finder</a>




        </div>
        
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-6">




            <a href="/medicine/finder" class="btn btn-primary btn-block float-end ">Medicine finder</a>

        </div>
        
    </div>
       
    
</div>
<!-- end: content -->
<%- include('footer') -%>